body
{
    margin: 0%;
}
#blocpage
{
    display: flex;
    flex-direction: column;
}
#logo
{
    object-fit: inherit;
    height: auto;
    width: 60%;
}
img
{
    width: 95%;
    height: 180px;
    object-fit: cover;
}