/* Variables */
/*Mixins*/
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e4e9df;
  -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
  opacity: .80;
}

.location__city {
  margin-left: 10px;
}

.hero {
  padding: 30px 0px;
  background: #fafafa;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  text-align: center;
  max-width: 250px;
  margin: 0px;
}

.hero__txt {
  text-align: center;
  font-weight: 300;
}

.btncontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  font-size: 17px;
  padding: 15px 20px;
  color: #fff;
  -webkit-box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  border: 0px;
  border-radius: 35px;
  background: #9356DC;
  background: linear-gradient(349deg, #9356DC 30%, #FF79DA 70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:active {
  opacity: 0.8;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.7);
}

h2 {
  margin-left: 10px;
}

.fonctionnement {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 0px;
}

.fonctionnement__parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fonctionnement__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin: 10px 20px;
  width: 90%;
  height: 60px;
  background: #fafafa;
  border-radius: 30px;
}

.fonctionnement__part:hover {
  background: #F5EDFF;
}

.fonctionnement__number {
  background: #9356DC;
  padding: 4px 9px;
  border-radius: 100%;
  color: #fafafa;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fonctionnement__icon {
  color: #7E7E7E;
  margin: 0px 20px;
  /*si part:hover, alors color violet sur l'icone*/
}

main img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-radius: 30px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.restaurants {
  background: #fafafa;
  padding: 30px 0px;
}

.restaurants__menu {
  margin: 20px;
  border-radius: 30px;
  background: #fff;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.restaurants__imgcontainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.restaurants__new {
  position: absolute;
  background: #98e2cf;
  margin: 15px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #1b604e;
}

.restaurants__txtcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants__txtcontainer p {
  font-weight: 300;
  margin-top: 0%;
}

.restaurants__txtcontainer h3 {
  margin-bottom: 0%;
}

.restaurants__heart {
  font-size: 25px;
}

.fas:before {
  display: none;
}

footer {
  background: #444740;
  color: #fafafa;
  padding: 20px;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  margin: 0px;
}

footer p {
  margin: 5px;
}

.navpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navpart p {
  padding-left: 10px;
}

/* MAP MENU */
.headermenu {
  position: relative;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.headermenu i {
  position: absolute;
  font-size: 20px;
  left: 5px;
  top: 25%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__container {
  margin-top: -30px;
  width: 100%;
  background: #fafafa;
  padding-bottom: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.menu__img {
  border-radius: 0%;
}

.menu h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}

.menu__part h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  position: relative;
}

.menu__part h2:after {
  content: '';
  width: 50px;
  height: 3px;
  background: #98e2cf;
  position: absolute;
  left: 0px;
  bottom: -5px;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__platscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  width: 90%;
  height: 60px;
  background: #fff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 30px 10px;
  height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__platscontainer div {
  margin: inherit;
}

.menu__platscontainer div p, .menu__platscontainer div h3 {
  margin: auto;
  font-size: 95%;
}

.menu__platscontainer .menu__blockcheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__platscontainer .menu__blockcheck i {
  display: none;
}

.menu__platscontainer .menu__blockcheck p {
  font-weight: 700;
}
/*# sourceMappingURL=style-index.css.map */