.platscontainer-1 {
  -webkit-animation-delay: 210ms;
          animation-delay: 210ms;
}

.platscontainer-2 {
  -webkit-animation-delay: 220ms;
          animation-delay: 220ms;
}

@-webkit-keyframes animbtn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
    -webkit-box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }
}

@keyframes animbtn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
    -webkit-box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }
}

@-webkit-keyframes hovercolor {
  from {
    background: #fafafa;
  }
  to {
    background: #F5EDFF;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
}

@keyframes hovercolor {
  from {
    background: #fafafa;
  }
  to {
    background: #F5EDFF;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
}

@-webkit-keyframes shadowintensifier {
  0% {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
  }
}

@keyframes shadowintensifier {
  0% {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
  }
}

@-webkit-keyframes newclignote {
  from {
    background: #98e2cf;
    color: #1b604e;
  }
  to {
    background: #c0ede2;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@keyframes newclignote {
  from {
    background: #98e2cf;
    color: #1b604e;
  }
  to {
    background: #c0ede2;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@-webkit-keyframes heart-appear {
  0% {
    opacity: 0;
    color: #9356DC;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
    color: #98e2cf;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    color: #FF79DA;
  }
}

@keyframes heart-appear {
  0% {
    opacity: 0;
    color: #9356DC;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
    color: #98e2cf;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    color: #FF79DA;
  }
}

@-webkit-keyframes platappear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@keyframes platappear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@-webkit-keyframes disappear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0px;
  padding-top: 10px;
  z-index: 1;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h2 {
  margin-left: 10px;
}

.btncontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.btn {
  font-size: 17px;
  padding: 15px 20px;
  color: #fff;
  -webkit-box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 35px;
  background: linear-gradient(349deg, #9356DC 30%, #FF79DA 70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:active, .btn:hover {
  -webkit-animation: animbtn 0.3s ease-out forwards;
          animation: animbtn 0.3s ease-out forwards;
  cursor: pointer;
}

.far {
  position: absolute;
}

.far:hover {
  font-size: 0px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.fas {
  opacity: 0;
}

.fas:hover, .fas:active {
  cursor: pointer;
  -webkit-animation: heart-appear 300ms cubic-bezier(0.58, 0.12, 0.3, 0.93) alternate forwards;
          animation: heart-appear 300ms cubic-bezier(0.58, 0.12, 0.3, 0.93) alternate forwards;
}

#loader {
  height: 110%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background: #444740;
  opacity: 0.7;
  -webkit-animation: disappear 0s linear 3s forwards;
          animation: disappear 0s linear 3s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loader__content {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 5px solid transparent;
  border-bottom: solid 5px #9356DC;
  background: transparent;
  z-index: 2;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

#loader__content::before {
  content: '';
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: #98e2cf;
  position: absolute;
  -webkit-animation: scaling 2s linear infinite;
          animation: scaling 2s linear infinite;
}

#loader__content:after {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background: #FF79DA;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #e4e9df8a;
  -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
  opacity: .80;
}

.location__city {
  margin-left: 10px;
}

.hero {
  padding: 30px 0px;
  background: #fafafa;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  text-align: center;
  max-width: 250px;
  margin: 0px;
}

.hero__txt {
  text-align: center;
  font-weight: 300;
}

.fonctionnement {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 0px;
}

.fonctionnement__parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fonctionnement__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin: 10px 20px;
  width: 90%;
  height: 60px;
  background: #fafafa;
  border-radius: 20px;
}

.fonctionnement__part:hover {
  -webkit-animation: hovercolor 300ms both;
          animation: hovercolor 300ms both;
}

.fonctionnement__part:hover .fonctionnement__icon {
  color: #9356DC;
}

.fonctionnement__number {
  background: #9356DC;
  padding: 4px 9px;
  border-radius: 100%;
  color: #fafafa;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fonctionnement__icon {
  color: #7E7E7E;
  margin: 0px 20px;
}

main img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-radius: 30px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.restaurants {
  background: #fafafa;
  padding: 30px 0px;
}

.restaurants__menu {
  margin: 20px;
  border-radius: 30px;
  background: #fff;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.restaurants__menu:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-animation: shadowintensifier 300ms forwards;
          animation: shadowintensifier 300ms forwards;
}

.restaurants__imgcontainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.restaurants__new {
  position: absolute;
  background: #98e2cf;
  margin: 15px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #1b604e;
  -webkit-animation: newclignote 1s infinite alternate forwards;
          animation: newclignote 1s infinite alternate forwards;
}

.restaurants__txtcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants__txtcontainer p {
  font-weight: 300;
  margin-top: 0px;
}

.restaurants__txtcontainer h3 {
  margin-bottom: 0px;
}

.restaurants__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

footer {
  background: #444740;
  color: #fafafa;
  padding: 20px;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  margin: 0px;
}

footer p {
  margin: 10px -5px;
}

.navpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navpart p {
  padding-left: 15px;
}

.headermenu {
  position: relative;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.headermenu i {
  position: absolute;
  font-size: 20px;
  left: 5px;
  top: 25%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.menu__container {
  margin-top: -20px;
  width: 100%;
  background: #fafafa;
  padding-bottom: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu__img {
  border-radius: 0%;
}

.menu h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}

.menu__part h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  position: relative;
}

.menu__part h2:after {
  content: '';
  width: 50px;
  height: 3px;
  background: #98e2cf;
  position: absolute;
  left: 0px;
  bottom: -5px;
}

.menu__platscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  width: 90%;
  height: 60px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-animation: platappear 1s cubic-bezier(0.24, 0.68, 0.61, 1.02) forwards;
          animation: platappear 1s cubic-bezier(0.24, 0.68, 0.61, 1.02) forwards;
  margin: 30px 10px;
  height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div {
  margin: inherit;
}

div p, div h3 {
  margin: auto;
  font-size: 95%;
}

.menu__blockcheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__blockcheck i {
  opacity: 0;
}

.menu__blockcheck p {
  font-weight: 700;
}

.platscontainer-1 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.platscontainer-2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.platscontainer-3 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.platscontainer-4 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.platscontainer-5 {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.platscontainer-6 {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.platscontainer-7 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.platscontainer-8 {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}

.platscontainer-9 {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}

.platscontainer-10 {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}
/*# sourceMappingURL=style-index.css.map */