@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";


body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: $margin - $margin;
  margin-top: $margin;
  z-index: 1;
}
a {
  text-decoration: inherit;
  color: inherit;
}
header {
  @include flexColumnCenter;
  margin-bottom: $margin;
}

#loader {
  height: 110%;
  width: 100%;
  position: fixed;
  z-index: 2;
  margin: auto;
  background: $color-footer;
  opacity: 0.7;
  animation: disappear 0s linear 3s forwards;
  @include flexRowCenter;
}
 #loader__content {
  
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 5px solid transparent;
  border-bottom: solid 5px $color-primary;
  background: transparent;
  z-index: 2;
  padding: nth($padding-dimensions, 3);
  @include flexRowCenter;
  position: relative;
  animation: spin 1s linear infinite;
  &::before {
    content: '';
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: $color-tertiary;
    position: absolute;
    animation: scaling 2s linear infinite;
  }
   &:after  {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background: $color-secondary;
    transform: translateY(100%);
 &__center {
   font-family: 'Shrikhand', cursive;
 }
}
 }
.location {
  @include flexRowCenter;
  height: 50px;
  background: $cd-background-location;
  box-shadow: inset 0px 3px 10px 0px rgba($cd-shadow, .35);
  opacity: .80;
  &__city {
    margin-left: $margin;
  }
}

.hero {
  @include paddingsection;
  background: $cd-background-section;
  &__container {
    @include flexColumnCenter;
  }

  &__title {
    @include txtalign;
    max-width: 250px;
    margin: $margin - $margin;
  }

  &__txt {
    @include txtalign;
    font-weight: 300;
  }
}

.btncontainer {
  @include flexRowCenter;
  margin: $margin;
}
 .btn {
    @include btnprop;
    @include flexColumnCenter;
    &:active , &:hover{
      @include btnactive;
      cursor: pointer;
    }
  }


  h2 {
    margin-left: $margin;
  }

.fonctionnement {
  align-items: flex-start;
  @include paddingsection;
  &__parts{
    @include flexColumnCenter;
    align-items: flex-start;
  }

  &__part {
    @include flexRowCenter;
    @include box-shadow($cd-shadow);
    justify-content: flex-start;
    position: relative;
    @include bg-part ($cd-background-section);
    
  }
    &__part:hover{
    animation: hovercolor 300ms both;

    .fonctionnement__icon {
      @include iconhover;
    }
  }

  &__number {
    background: $color-primary;
    padding: 4px 9px;
    border-radius: 100%;
    color: $cd-background-section;
    position: absolute;
    transform: translateX(-50%);
   
  }
  &__icon {
    color: $cd-icon-light;
    margin: $margin - $margin $margin+10px;
    
  }
}
main img {
  @include imgdefault
}
  .restaurants {
     background: $cd-background-section;
     @include paddingsection;
    &__menu {
      margin: $margin+10px;
      border-radius: nth($radius, 1);
      background: #fff;
      align-items: inherit;
      @include box-shadow($cd-shadow);
      &:hover {
      transform: scale(0.95);
      transition: all 500ms;
      animation: shadowintensifier 300ms forwards;
      }
    }

    &__imgcontainer {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
    }
    &__new {
      position: absolute;
      background: $color-tertiary;
      margin: $margin + 5px;
      padding: nth($padding-dimensions, 2) + 10px;
      font-size: $font-size - 1px;
      font-weight: 700;
      color: darken($color-tertiary, 50%);
      animation: newclignote 1s infinite alternate forwards;
    }
    
    &__txtcontainer {
      display: flex;
      padding: nth($padding-dimensions, 3);
      justify-content: space-between;
      align-items: center;
      p {
        font-weight: 300;
        margin-top: $margin - $margin;
      }
      h3 {
        margin-bottom: $margin - $margin;
      }
    }
    &__heart {
      display: flex;
      font-size: $font-size + 10px;
      position: relative;
    }
  }
  
  .far {
    position: absolute;

   &:hover {
    font-size: $font-size - $font-size;
    transition: all 300ms;
    }
  }

  .fas {
    opacity: 0;
    @include heartactive;
  }

  footer { 
    background: $color-footer;
    color: $cd-background-section;
    padding: nth($padding-dimensions, 4);
   h3 {
    font-family: 'Shrikhand', cursive;
    font-size: $font-size + 10px;
    margin: $margin - $margin;
    }
    p {
      margin: $margin -5px;
    }
  
}
.navpart {
  @include flexRowCenter;
  justify-content: flex-start;
  p {
    padding-left: nth($padding-dimensions, 3);
  }
}


/* MAP MENU */

.headermenu {
  position: relative;
  flex-direction: inherit;
   i {
    position: absolute;
    font-size: $font-size + 5px;
    left: 5px;
    top:25%;
   }
}

.menu {
  @include flexColumnCenter;
  &__container {
    margin-top: $margin - 30px;
    width: 100%;
    background: $cd-background-section;
    padding-bottom: nth($padding-dimensions, 1 );
    @include bordertopradius;


  }
  
  &__img {
    border-radius: $no-radius;
  }
   h1 {
     font-family: 'Shrikhand', cursive;
     font-size: $font-size + $font-size;
   }
  &__part {
    
    h2 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: $font-size + 5;
      position: relative;
      &:after {
        content: '';
        width: 50px;
        height: 3px;
        background: $color-tertiary;
        position: absolute;
        left: 0px;
        bottom: -5px;
    
      }
    }
  }
  &__header {
    @include flexRowCenter;
    justify-content: space-around;
    margin-top: $margin;
  }
}
.menu__platscontainer {
  @include flexRowCenter;
  @include bg-part ($color-white);
  @include box-shadow($cd-shadow);
  opacity: 0;
  animation: platappear 1s cubic-bezier(.24,.68,.61,1.02) forwards;
  margin: $margin + 20px $margin;
  height: 75px;
  justify-content: space-between; 
}
  div {
     margin: inherit;
    p, h3 {
      margin: auto;
      font-size: 95%;
    }
  }
  .menu__blockcheck {
    display: flex;
    i {
      opacity: 0;
    }
    p {
      font-weight: 700;
    } 
  }
  @for $i from 1 through 8 {
    .platscontainer-#{$i} {
      animation-delay: ($i * 200) + 100ms;
    }
  }
 