
/* Variables */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #98e2cf;
$cd-background-section: #fafafa;
$cd-background-location: #e4e9df;
$cd-icon-light: #7E7E7E;
$cd-shadow: #000000;
$color-footer: #444740;

/*Mixins*/
@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin btnprop {
  font-size: 15px;
  padding: 15px 20px;
  color: #fff;
  box-shadow:0px 10px 13px -10px $cd-shadow, 5px 5px 15px 5px rgba($cd-shadow,0.35);
  border: 0px;
  border-radius: 35px;
  background: $color-primary;
  background: linear-gradient(349deg, $color-primary 30%, $color-secondary 70%);
}
@mixin btnactive { 
  opacity: 0.8;
  transform: scale(1);
  transition: 300ms;
  box-shadow:0px 10px 13px -10px $cd-shadow, 5px 5px 15px 5px rgba($cd-shadow, .70);

}
@mixin imgdefault {
  width: 100%;
  object-fit: cover;
  height: 250px;
  border-radius: 30px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
@mixin txtalign {
  text-align: center
}
@mixin marginleft{
  margin-left: 10px;
}
@mixin paddingsection {
  padding: 30px 0px;
}
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
}
a {
  text-decoration: inherit;
  color: inherit;
}
header {
  @include flexColumnCenter;
  margin-bottom: 10px;
}



.location {
  @include flexRowCenter;
  background: $cd-background-location;
  box-shadow: inset 0px 3px 10px 0px rgba($cd-shadow, .35);
  opacity: .80;
  &__city {
    @include marginleft;
  }
}

.hero {
  @include paddingsection;
  background: $cd-background-section;
  &__container {
    @include flexColumnCenter;
  }

  &__title {
    @include txtalign;
    max-width: 250px;
    margin: 0px;
  }

  &__txt {
    @include txtalign;
    font-weight: 300;
  }

  &__btn {
    @include btnprop;
    &:active {
      @include btnactive;
    }
    }
  }

  h2 {
    @include marginleft;
  }

.fonctionnement {
  align-items: flex-start;
  @include paddingsection;
  &__parts{
    @include flexColumnCenter;
    align-items: flex-start;
  }

  &__part {
    @include flexRowCenter;
    justify-content: flex-start;
    position: relative;
    margin: 10px 20px;
    width: 90%;
    background: $cd-background-section;
    border-radius: 30px;
  }

  &__number {
    background: $color-primary;
    padding: 4px 9px;
    border-radius: 100%;
    color: $cd-background-section;
    position: absolute;
    transform: translateX(-50%);
   
  }
  &__icon {
    color: $cd-icon-light;
    margin: 0px 20px;
    
  }
}
  
  .restaurants {
     background: $cd-background-section;
     @include paddingsection;
    img{
      @include imgdefault;
    }
    &__menu {
      margin: 20px;
      border-radius: 30px;
      background: #fff;
    }
    &__imgcontainer {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
    }
    &__new {
      position: absolute;
      background: $color-tertiary;
      margin: 15px;
      padding: 10px;
      font-size: 14px;
      font-weight: 700;
      color: darken($color-tertiary, 50%)
    }
    
    &__txtcontainer {
      display: flex;
      padding: 0px 15px;
      justify-content: space-between;
      align-items: center;
      p {
        font-weight: 300;
        margin-top: 0%;
      }
      h3 {
        margin-bottom: 0%;
      }
    }
    &__heart {
      font-size: 25px;
    }
  }
  .fas:before {
    display: none;
  }
  footer { 
    background: $color-footer;
    color: $cd-background-section;
    padding: 20px;
   h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    margin: 0px;
    }
    p {
      margin: 5px;
    }
  
}
.navpart {
  @include flexRowCenter;
  justify-content: flex-start;
  p {
    padding-left: 10px;
  }
}