$color-primary: #9356DC;

$color-secondary: #FF79DA;

$color-tertiary: #98e2cf;

$color-white: #fff;

$cd-background-section: #fafafa;

$cd-background-location: #e4e9df8a;

$cd-icon-light: #7E7E7E;

$cd-shadow: #000000;

$color-footer: #444740;

$color-hover: #F5EDFF;

$padding-dimensions: 30px 0px 15px 20px;

$margin: 10px;

$radius: 30px 35px 20px;

$no-radius: 0%;

$font-size: 15px;

$tablette: 768px;

$desktop: 1300px;