.headermenu {
    position: relative;
    flex-direction: inherit;
//Position de la flèche retour vers index.html//
     i {
      position: absolute;
      font-size: $font-size + 5px;
      left: 10px;
      top:25%;
    }
}

.menu {
    @include flexColumnCenter;
    &__header {
        @include flexRowCenter;
        justify-content: space-around;
        margin-top: $margin;
    }
    &__container {
      margin-top: $margin - 30px;
      width: 100%;
      background: $cd-background-section;
      padding-bottom: nth($padding-dimensions, 1 );
      @include bordertopradius;
  
    }
    //retrait des bordures arrondies sur img//
    &__img {
      border-radius: $no-radius;

    }
    h1 {
    font-family: 'Shrikhand', cursive;
    font-size: $font-size + $font-size;

    }
    &__part h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: $font-size + 5;
        position: relative;
        //Semi-bordure sous h2//
        &:after {
            content: '';
            width: 50px;
            height: 3px;
            background: $color-tertiary;
            position: absolute;
            left: 0px;
            bottom: -5px;
        }
    }
}
.menu__platscontainer {
    @include flexRowCenter;
    @include bg-part ($color-white);
    @include box-shadow($cd-shadow);
    opacity: 0;
    animation: platappear 1s cubic-bezier(.24,.68,.61,1.02) forwards;
    margin: $margin + 20px $margin;
    height: 75px;
    justify-content: space-between;
    &:hover, &:active {
        .menu__blockcheck {
            @include flexRowCenter;
            @include bloccheckappear;
            }
            i {
              animation: checkspin 400ms linear alternate forwards;
            }
    }
}
div p, h3 {
    margin: auto 8px;
    font-size: 95%;
    }


//animation apparition progressive des plats//
@for $i from 1 through 10 {
    .platscontainer-#{$i} {
      animation-delay: ($i * 200) + 100ms;
    }
}

.menu__entitled {
    width: calc(100%);
    h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &:active, &:hover {
    animation: entitled70 400ms linear alternate forwards;
    }
}

.menu__blockcheck {
    opacity: 0;
    color: white;
    background: $color-tertiary;
    width: 0;
    font-size: 1.5em;
    height: 100%;
  }
  
.menu__txt {
    display: flex;
    justify-content: space-between;
    p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &--price {
    font-weight: bold;
    white-space: normal;
    }
}
@media screen and (min-width: $tablette) {
    .menu {
      background: lighten($color-tertiary, 20);
    }
    
    .menu__container {
      width: calc(90%);
    }
    
    .menu__blocplats {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .menu__platscontainer {
      width: 90%;
    }
    
}

@media screen and (min-width: $desktop) {
    .menu__blocplats--container {
      display: flex;
      justify-content: space-around;
    }
    .menu__part {
      width: 30%;
    }
    .menu__platscontainer {
      width: 100%;
    }
}
