body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: $margin - $margin;
    z-index: 1;

}

a {
    text-decoration: inherit;
    color: inherit;
}

h2 {
    margin-left: 10px;
    width: calc(100% - 10px);
    /*margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;*/
}