/* Fonts */
@font-face {
    font-family:'Roboto';
    src: url(styles/fonts/Roboto-Regular.ttf) format(truetype);
  }
@font-face {
    font-family:'Roboto';
    src: url(styles/fonts/Roboto-Bold.ttf) format(truetype);
    font-weight: bold;
  }
@font-face {
    font-family: 'Shrikhand';
    src: url(fonts/Shrikhand-Regular.ttf) format(truetype);
  }

  /* Variables */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$cd-background: #e4e9df;
